apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kube-system

resources:
  - namespace.yaml
  - serviceaccount.yaml

helmCharts:
  - name: aws-load-balancer-controller
    repo: https://aws.github.io/eks-charts
    version: 1.7.1
    releaseName: aws-load-balancer-controller
    namespace: kube-system
    valuesFile: helm-values.yaml

replacements:
  # Replace cluster name from ConfigMap
  - source:
      kind: ConfigMap
      name: aws-config
      fieldPath: data.cluster_name
    targets:
      - select:
          kind: HelmChart
        fieldPaths:
          - spec.valuesInline.clusterName
        options:
          create: true

  # Replace AWS region from ConfigMap
  - source:
      kind: ConfigMap
      name: aws-config
      fieldPath: data.aws_region
    targets:
      - select:
          kind: HelmChart
        fieldPaths:
          - spec.valuesInline.region
        options:
          create: true

  # Replace VPC ID from ConfigMap
  - source:
      kind: ConfigMap
      name: aws-config
      fieldPath: data.vpc_id
    targets:
      - select:
          kind: HelmChart
        fieldPaths:
          - spec.valuesInline.vpcId
        options:
          create: true
