apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: consumers

resources:
  - aws-config.yaml
  - analytics-service-deployment.yaml
  - inventory-service-deployment.yaml
  - search-indexer-deployment.yaml

# Image transformation - ArgoCD Image Updater will update these
# The ECR registry path is set dynamically by Image Updater
images:
  - name: analytics-service
    newName: 296592524620.dkr.ecr.us-east-1.amazonaws.com/analytics-service
    newTag: latest
  - name: inventory-service
    newName: 296592524620.dkr.ecr.us-east-1.amazonaws.com/inventory-service
    newTag: latest
  - name: search-indexer
    newName: 296592524620.dkr.ecr.us-east-1.amazonaws.com/search-indexer
    newTag: latest

# Note: aws-config ConfigMap is now managed by ArgoCD
# Previously it was created separately, but now it's part of the deployment
