apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: consumers

resources:
  - analytics-service-deployment.yaml
  - inventory-service-deployment.yaml
  - search-indexer-deployment.yaml

# Image transformation - ArgoCD Image Updater will update these
# The ECR registry path is set dynamically by Image Updater
images:
  - name: analytics-service
    newName: 296592524620.dkr.ecr.us-east-1.amazonaws.com/analytics-service
    newTag: latest
  - name: inventory-service
    newName: 296592524620.dkr.ecr.us-east-1.amazonaws.com/inventory-service
    newTag: latest
  - name: search-indexer
    newName: 296592524620.dkr.ecr.us-east-1.amazonaws.com/search-indexer
    newTag: latest

# Note: aws-config ConfigMap must be created in the cluster before deploying
# This ConfigMap contains account-specific values and is NOT tracked in Git
# Create it using: scripts/setup-aws-config.sh
